.call-to-action {
    background-color: #5b605f;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__advert {
        width: 60vw;
    }
    &__advert--topic {
        color: white;
    }
    &__advert--text {
        color: white;
        width: 60vw;
    }
    &__advert--button {
        background-color: #f09713;
        height: 5vh;
        width: 15vw;
    }
    &__advert--button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        letter-spacing: 0.1;
        color: white;
        border: 1px solid red;
        height: 100%;
    }
}
