.slider {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $whiteColor;
}

.slider .visible {
  display: block;
  width: 60vw;
}

.slider__text {
  background-color: $whiteColor;
  display: none;
  border: 1px solid green;
  text-align: center;
}

.slider a {
  font-size: 5.5em;
  cursor: pointer;
}

#prev-picture {
  font-size: 2em;
}

#next-picture {
  font-size: 2em;
}
