.footer {
    display: flex;
    border: 1px solid green;
    background-color: #5b605f;
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__item {
        color: whitesmoke;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid orange;
        max-width: 300px;
    }
}
