.contact {
    background-color: $grayColor;
    display: flex;
    align-items: center;
    min-height: 200px;
    min-width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    &__text {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        font-size: 50px;
    }
    &__box {
        margin-left: auto;
        min-height: 50px;
    }
}
.bgc_contact {
    background-color: $grayColor;
}
.contact__wrapper {
    display: flex;
    width: 100%;
    border: 1px solid red;
}
.contact__box-input {
    min-width: 500px;
    margin-left: auto;
    font-size: 25px;
    border: 0;
}

.contact__box {
    display: flex;
    border: 1px solid red;
}
.contact__box-button {
    cursor: pointer;
    min-width: 200px;
    border: 0;
    background-color: #f09713;
    color: white;
    font-size: 25px;
    letter-spacing: 0.1em;
}
