.form {
    background-color: $grayColor;
    border: 1px solid red;
    display: flex;
    align-items: center;
    min-height: 200px;
    &__text {
        margin-right: 400px;
        border: 1px solid yellow;
    }
    &__box {
        border: 1px solid green;
    }
}

.form__wrapper {
    border: 1px solid white;
}
