@import url("https://fonts.googleapis.com/css?family=Charmonman");

body {
  background-color: #292f32;
}

.header-navigation .logo {
  font-family: Charmonman;
}
.header-navigation .logo .first {
  font-weight: 100;
  color: white;
}
.header-navigation .logo .second {
  color: #e58a20;
  font-weight: 700;
}
