header {
    border: 1px solid green;
}

section {
    border: 1px solid red;
}

.dashbordView {
    border: 1px solid orange;
    height: 100vh;
}

.dashbordView__header {
    height: 10vh;
    background-color: #4a4a49;
}
.welcome {
    border: 3px dotted black;
    width: 70vw;
    height: 90vh;
    background-image: url("/assets/image.jpg");
    font-family: "Open Sans", sans-serif;

    text-align: center;
    &__header {
        margin-top: 5vh;
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    &__paragraph {
        margin-top: 2vh;
    }
    &__input {
        margin-top: 2vh;
        border-radius: 0;
        outline: none;
        min-width: 20vw;
        font-size: 30px;
    }
    &__button {
        margin-top: 1vh;
        width: 8vw;
    }
    &__paragraph-second {
        margin-top: 2vh;
        font-size: 25px;
    }
}

.hash {
    width: 30vw;
    height: 90vh;
}
.sekcja {
    display: flex;
}
