header {
    border: 1px solid green;
}

section {
    border: 1px solid red;
}

.dashbordView {
    border: 1px solid orange;
    height: 100vh;
}

.dashbordView__header {
    height: 10vh;
    background-color: #4a4a49;
}
.welcome {
    background: url(../assets/bgc);
}
